<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="#" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{{ url_for('static', filename='admin-dash-assets/images/logo-sm.png') }}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{{ url_for('static', filename='admin-dash-assets/images/logo-dark.png') }}" alt="" height="22">
            </span>
        </a>
        <a href="#" class="logo logo-light">
            <span class="logo-sm">
                <img src="{{ url_for('static', filename='admin-dash-assets/images/logo-sm.png') }}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{{ url_for('static', filename='admin-dash-assets/images/logo-light.png') }}" alt="" height="22">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-3xl header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin-dashboard') }}" class="nav-link menu-link {% if active_page == 'admin-dashboard' %}active{% endif %}">
                        <i class="ph-house"></i>
                        <span data-key="t-dashboard">Admin Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin-doctors-dash') }}" class="nav-link menu-link {% if active_page in ['admin-doctors-dash', 'add-slot', 'add-date'] %}active{% endif %}">
                        <i class="ph-user-circle"></i>
                        <span data-key="t-doctors">Manage Doctors</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin-users') }}" class="nav-link menu-link {% if active_page == 'admin-users' %}active{% endif %}">
                        <i class="ph-users"></i>
                        <span data-key="t-users">Manage Users</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin-contacts') }}" class="nav-link menu-link {% if active_page == 'admin-contacts' %}active{% endif %}">
                        <i class="ph-chat-text"></i>
                        <span data-key="t-contacts">Contacts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin-appointments') }}" class="nav-link menu-link {% if active_page == 'admin-appointments' %}active{% endif %}">
                        <i class="ph-calendar-check"></i>
                        <span data-key="t-appointments">Appointments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.patient-details') }}" class="nav-link menu-link {% if active_page in ['see-case-reports', 'patient-details'] %}active{% endif %}">
                        <i class="ph-clipboard-text"></i>
                        <span data-key="t-appointments">Case-Reports</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link menu-link">
                        <i class="ph-sign-out"></i>
                        <span data-key="t-logout">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
