{% extends 'admin/layout/base.html' %}
{% block title %}Derma Detect | Appointment Details{% endblock %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="orderList">
                    <div class="card-header">
                        <div class="row align-items-center gy-3">
                            <div class="col-lg-6 col-md-6">
                                <div class="search-box">
                                    <input type="text" class="form-control search"
                                        placeholder="Search for Appointment ID, Email, Phone, Doctor or something...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>

                            <div class="col-md-auto ms-md-auto">
                                <div class="d-flex flex-wrap align-items-center gap-2">
                                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#signUpModal"><i
                                        class="bi bi-plus-circle align-baseline me-1"></i>
                                        Add Appointment
                                    </button> -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                <thead class="text-muted table-light">
                                    <tr class="text-center">
                                        <th scope="col">ID</th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Doctor</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">File</th>
                                        <th scope="col">Message</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    {% for appointment in appointments %}
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>{{ appointment.id }}</div>
                                        </td>
                                        <td>{{ appointment.user_id }}</td>
                                        <td>{{ appointment.name }}</td>
                                        <td>{{ appointment.email }}</td>
                                        <td>{{ appointment.phone }}</td>
                                        <td>{{ appointment.age }}</td>
                                        <td>{{ appointment.gender }}</td>
                                        <td>{{ appointment.address }}</td>
                                        <td>{{ appointment.doctor.name }}</td>
                                        <td>{{ appointment.date.date.strftime('%Y-%m-%d') }}</td>
                                        <td>{{ appointment.time_slot.time_slot }}</td>
                                        <td>
                                            {% if appointment.file %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#fileModal"
                                                onclick="showFile('{{ url_for('appointment.uploaded_file', filename=appointment.file) }}')">
                                                View File
                                            </button>
                                            {% else %}
                                            No file
                                            {% endif %}
                                        </td>
                                        <td>{{ appointment.message }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                            <div class="noresult" style="display: none">
                                <div class="text-center py-4">
                                    <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted mb-0">We've searched all appointments, We did
                                        not find any appointment for you search.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
<!-- Modal for appoinment file view-->
<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileModalLabel">View Appointment File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="fileViewer" src="" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- script for appoinment file view -->
<script>
    function showFile(fileUrl) {
        document.getElementById('fileViewer').src = fileUrl;
    }
</script>
{% endblock %}